# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/processed/
*.csv

# Artifacts
data/artifacts/
*.h5
*.keras
*.pt
*.pkl

# Quarto / render outputs
# outputs/reports/
outputs/figures/
outputs/tables/
.quarto/
**/*.quarto_ipynb

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.tex

# OS
.DS_Store
Thumbs.db


