# Core scientific stack
numpy
pandas
scikit-learn
scipy
statsmodels
ipykernel

# Visualization
matplotlib
seaborn

# ML / Deep Learning
tensorflow
torch

# GAT
torch-geometric

# Data formats
pyarrow

# Utilities
tqdm
pyyaml

# Graph & Geo
geopandas
libpysal

# Install quarto for report rendering
# https://quarto.org/docs/get-started/
# Quarto requires tinytext
# Run: quarto install tinytex